prj/prj.cache/*
prj/prj.hw/*
prj/prj.runs
prj/prj.sim/*
prj/prj.ip_user_files
prj/ip_upgrade.log

ip/**/*.xdc
ip/**/*.v
ip/**/*.vhdl
ip/**/*.vh
ip/**/*.dcp
ip/**/*.vhd
ip/**/*.xml
ip/**/*.mif
ip/**/*.v
ip/**/*.txt
ip/**/*.veo
ip/**/*.vho
ip/ddr4/*
ip/AI/*


.vscode/
prj/vivado*
ip/dsp/floating_point_fix2float/floating_point_fix2float.vho
ip/dsp/floating_point_fix2float/cmodel/floating_point_v7_1_bitacc_cmodel_lin64.zip
ip/dsp/floating_point_fix2float/cmodel/floating_point_v7_1_bitacc_cmodel_nt64.zip
ip/dsp/Hamming4096_Win16/Hamming4096_Win16.vho
ip/dsp/Hamming4096_Win16/Hamming4096_Win16.xci
ip/dsp/Hamming4096_Win16/summary.log
prj/prj.srcs/utils_1/imports/synth_1/top.dcp
